body{
    text-align: center;
    background-color: aqua;
    font-weight: bold;
}

.container{
    border: solid navy 3px;
}

.row{
    display: flex;
    flex-flow: row;
    margin: 15px auto;
}

.col-2{
    width: 50%;    
}

.col-2 img{
    height: 300px;
    width: 400px;
}

.col-2 ul{
    list-style: none;
}